.Hike__container{
  border-radius: 1em;
  padding: 1em;
  background-color: whitesmoke;
  background-image: linear-gradient(rgb(250, 250, 250), whitesmoke);
}


.QR {
  flex: 1;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
}

.QRCodes {
width: 100%;
max-width: 16em;
min-width: 16em;
}

.Leaderboard {
  flex: 4;
  padding: 1em
}

.Leaderboard > * > * {
  margin: 1em;
  padding: 1em;
}

.Hike__container, .QRCode__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.Dashboard__container {
  display: flex;
  flex-direction: row;
  border: 1px red solid;
}