@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
body {
  height: 100%;
  font-family: 'Hubballi', cursive;
  margin: 0;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgb(255, 238, 209), rgb(250, 236, 214));
}
